In [1]:
# import Pandas
import pandas as pd

In [4]:
# Load vine_table.csv to Pandas DataFrame
file_to_load = pd.read_csv("resources/vine_table.csv")
vine_df = pd.DataFrame(file_to_load)

In [5]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [8]:
# Sample dataframe to check for errors
vine_df.sample(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
684301,R16S10ITN71W2E,5.0,0.0,0.0,N,Y
243263,R31P8IC0NSZTD6,5.0,1.0,1.0,N,Y
853916,ROFOXVMT5DBBH,5.0,3.0,3.0,N,N
208500,R3PR7YIH0ZTEA4,5.0,0.0,0.0,N,Y
740431,ROX4KUO1ZMWCA,5.0,2.0,3.0,N,Y
790593,R2BJ1L3VYPTTKC,5.0,5.0,5.0,N,Y
701857,R3HFZZKKD6Y87F,4.0,1.0,1.0,N,Y
212851,RLIZ2VSCXXD9P,5.0,0.0,0.0,N,Y
110816,R2UTEYWXPOKYNV,5.0,1.0,1.0,N,N
50191,RHUELX0ABYK9R,5.0,0.0,0.0,N,Y

In [11]:
# Create new dataframe that filters vine_df for rows where 
# total votes are greater than or equal to 20
more_votes_df = vine_df.loc[vine_df["total_votes"] >= 20]
more_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [15]:
# Sample new dataframe to check for errors
more_votes_df.sample(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
759938,R3HCAEISSZTOPF,5.0,47.0,57.0,Y,N
768760,RI10UAL5PN8X8,5.0,168.0,174.0,N,Y
854395,RKJ13M8O1JL0C,5.0,27.0,30.0,N,N
752997,RKOZ7FRMFO17,5.0,19.0,20.0,N,N
869608,R35QDXSNVIRTGU,5.0,22.0,22.0,N,Y
709501,R1XZV0BKPFDQG6,5.0,20.0,21.0,N,Y
738817,RW38EI6YB3N4Z,5.0,18.0,21.0,N,Y
753461,R39ZSPVUFYJNMC,4.0,23.0,24.0,N,N
856731,RDWWI2COW82EA,5.0,125.0,128.0,N,N
511781,R3G71PUWRTZXL0,1.0,25.0,28.0,N,Y
851633,R1VCBMUAWR0TUH,3.0,44.0,54.0,N,N
862177,R27R2II8CVY6PT,5.0,18.0,21.0,N,Y
81343,R211RNZHMIAOGY,5.0,28.0,30.0,N,N
820440,RP1EKN7AL5MD,4.0,41.0,44.0,N,N
612050,R3D1RQCPE6BTU2,5.0,21.0,22.0,N,N
45226,R33ZPWXBOQZV2P,5.0,79.0,89.0,N,Y
500865,R3COZ0HDT1NTRM,5.0,24.0,26.0,N,Y
892676,R3BQUT1IXM8ZRB,2.0,22.0,22.0,N,Y
902787,R3DO31P6L2SRAC,4.0,31.0,31.0,N,N
843765,R17U0TIJ727DW3,2.0,521.0,563.0,N,N

In [16]:
# Filter new DataFrame and create new DataFrame to retrieve 
# all the rows where helpful_votes divided by total_votes is equal to or greater than 0.5 (50%)
helpful_df = more_votes_df.loc[(more_votes_df["helpful_votes"] / more_votes_df["total_votes"]) >= 0.5]
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [18]:
# Sample new dataframe to check for errors
helpful_df.sample(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
536220,R2VRIX1Y4FIOA1,5.0,16.0,23.0,N,Y
736728,R2JX16VUTBCNGO,1.0,27.0,41.0,N,Y
892963,RCIHVIGF6U40T,1.0,30.0,38.0,N,N
842622,R1RSQHWJLCMENB,5.0,85.0,92.0,N,Y
893846,RM5P0PS9JWLGV,5.0,46.0,51.0,N,N
872472,R3FY3QHWWKP2BZ,5.0,20.0,22.0,N,N
892977,RRRGB49QU2HAN,5.0,20.0,21.0,N,Y
86281,R1LSY2OH9NRPJ,5.0,32.0,35.0,N,Y
522139,R2VRYZV3N49TJ0,4.0,29.0,33.0,Y,N
778861,R3HL2UBXZDNDCB,5.0,33.0,36.0,N,Y
870980,R3G3JCJXY9VGZ2,5.0,29.0,32.0,N,N
665583,RD1PZHP8XS6KM,5.0,20.0,21.0,N,Y
537668,R3LAY6TG4HWWGW,5.0,23.0,24.0,N,Y
835832,RBS1C3U9S5XV4,4.0,30.0,32.0,N,Y
881058,R3BV8EZO21V6TD,1.0,31.0,32.0,N,N
885665,R3S2XM70GECVY3,5.0,20.0,24.0,N,N
894415,R2HRLZWDZ2TGUF,4.0,95.0,101.0,N,N
651984,R3TWLJMQLAPHRZ,5.0,19.0,21.0,N,Y
286702,R2X0EFXZM7O07,5.0,70.0,77.0,N,N
866515,R122NQSFO0LF9H,1.0,34.0,37.0,N,N

In [19]:
# Filter helpful_df and create a new DataFrame that retrieves all 
# rows where a review was written as part of the Vine program (paid)
helpful_vine_df = helpful_df.loc[helpful_df["vine"] == "Y"]
helpful_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4229,R1R9RU7JW0MFR2,4.0,20.0,23.0,Y,N
9120,R19EFYNN3W8Q07,5.0,26.0,32.0,Y,N
34704,R34DJ1R8AEU0SG,5.0,29.0,35.0,Y,N
38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N
49330,R2E9VZB3I4LSN5,5.0,55.0,59.0,Y,N

In [21]:
# Sample new dataframe to check for errors
helpful_vine_df.sample(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
423840,R1OIXASHDMAU84,5.0,35.0,40.0,Y,N
307453,RFCV9QXJ3D79X,3.0,20.0,22.0,Y,N
652098,R1WYQYB9KX1WM1,5.0,32.0,36.0,Y,N
519257,R295FZN1I3KSQM,5.0,71.0,75.0,Y,N
509123,R394FJYWZ0GNFG,5.0,40.0,43.0,Y,N
312863,R36779ZAY4ZT0Y,3.0,46.0,50.0,Y,N
366816,R3QQG4HUB214TM,5.0,111.0,128.0,Y,N
594070,R1HZ9P5BJJZWNU,3.0,61.0,68.0,Y,N
820981,R3Q3WCJO38879H,4.0,25.0,25.0,Y,N
49330,R2E9VZB3I4LSN5,5.0,55.0,59.0,Y,N
394836,R22CYBPLKWDK6F,5.0,47.0,54.0,Y,N
38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N
440256,RX4P0ENQPW8JW,3.0,20.0,24.0,Y,N
357373,R2A3FFNJTDUBMV,5.0,20.0,27.0,Y,N
9120,R19EFYNN3W8Q07,5.0,26.0,32.0,Y,N
428102,R30FS6HFPQ1WKT,5.0,41.0,44.0,Y,N
366973,R3J9OSJNJB7KGM,5.0,70.0,80.0,Y,N
742766,RAGY9ISHYAS08,4.0,19.0,22.0,Y,N
641917,R3VHUT5HS9V22R,4.0,19.0,24.0,Y,N
367038,RIMYDUAAFXY2U,5.0,22.0,23.0,Y,N

In [22]:
# New DataFrame to retrieve all the rows in helpful_df where 
# the review was not part of the Vine program (unpaid)
helpful_non_vine_df = helpful_df.loc[helpful_df["vine"] == "N"]
helpful_non_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [25]:
# Sample new dataframe to check for errors
helpful_non_vine_df.sample(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
517659,R2U6M4V2ZXQ45B,5.0,21.0,24.0,N,N
855334,RVV2RTCS0PST2,4.0,27.0,28.0,N,Y
845573,R39HZWTZGAMLQK,4.0,21.0,21.0,N,Y
852113,R1M8V7N9TIKTBY,2.0,22.0,22.0,N,N
808046,R26R0PXUMBUK7,2.0,34.0,40.0,N,Y
526019,R2GNW3R17NB2M7,5.0,36.0,37.0,N,N
815549,R1SEGBG9HBCVRZ,3.0,25.0,29.0,N,N
802747,R2JVIJN6TKBX5,4.0,54.0,56.0,N,Y
886097,R1VP8ENLJ09MNC,5.0,45.0,48.0,N,Y
476299,R2MORN9E2QC0FA,5.0,25.0,26.0,N,Y
531046,R2CLP9Y0AIF3OB,1.0,34.0,44.0,N,N
801881,R22J3DMGCD0LCO,3.0,20.0,21.0,N,N
843689,R1V7QLXM3SCZF7,5.0,27.0,28.0,N,N
699318,R2NXNOHHJECEMH,3.0,38.0,40.0,N,Y
423721,R8KNEX26QW1RP,1.0,31.0,32.0,N,N
861008,R3A7TJ9UMU0U8O,5.0,44.0,48.0,N,N
341322,RO7BJGSV2X31B,1.0,20.0,25.0,N,Y
810994,R761YDMXA1UV3,3.0,70.0,85.0,N,Y
865138,R7GVGCO5GKAG,3.0,23.0,27.0,N,N
851142,R155D7EX16M7ND,1.0,29.0,29.0,N,N

### Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [50]:
# Paid Reviews:
# Find total number of reviews
paid_reviews = len(helpful_vine_df)
paid_rev_result = f'There are a total of {paid_reviews} paid reviews.'

# Find number of 5 star reviews
paid_5star_reviews = len(helpful_vine_df.loc[helpful_vine_df["star_rating"] == 5])
paid_5star_result = f'There are a total of {paid_5star_reviews} paid 5-star reviews.'

# Find percentage of 5 star reviews
paid_percent = (paid_5star_reviews / paid_reviews) * 100
paid_perc_result = f'{paid_percent:.2f}% of paid reviews were 5-star reviews.'

paid_outcome = f'{paid_rev_result}\n{paid_5star_result}\n{paid_perc_result}'

print(paid_outcome)

There are a total of 60 paid reviews.
There are a total of 34 paid 5-star reviews.
56.67% of paid reviews were 5-star reviews.

In [51]:
# Unpaid Reviews:
# Find total number of reviews
unpaid_reviews = len(helpful_non_vine_df)
unpaid_rev_result = f'There are a total of {unpaid_reviews} unpaid reviews.'

# Find number of 5 star reviews
unpaid_5star_reviews = len(helpful_non_vine_df.loc[helpful_non_vine_df["star_rating"] == 5])
unpaid_5star_result = f'There are a total of {unpaid_5star_reviews} unpaid 5-star reviews.'

# Find percentage of 5 star reviews
unpaid_percent = (unpaid_5star_reviews / unpaid_reviews) * 100
unpaid_perc_result = f'{unpaid_percent:.2f}% of unpaid reviews were 5-star reviews.'

unpaid_outcome = f'{unpaid_rev_result}\n{unpaid_5star_result}\n{unpaid_perc_result}'

print(unpaid_outcome)

There are a total of 14477 unpaid reviews.
There are a total of 8212 unpaid 5-star reviews.
56.72% of unpaid reviews were 5-star reviews.

### Paid and Unpaid Data Breakdowns

In [66]:
# Paid breakdown
print(paid_outcome)
print("\nPaid Review Data Sample:")
helpful_vine_df.sample(10)

There are a total of 60 paid reviews.
There are a total of 34 paid 5-star reviews.
56.67% of paid reviews were 5-star reviews.

Paid Review Data Sample:

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
400167,R1ETBDZ1LJ8CEL,4.0,28.0,32.0,Y,N
190962,RYW05F1MUEF01,5.0,87.0,102.0,Y,N
428102,R30FS6HFPQ1WKT,5.0,41.0,44.0,Y,N
307453,RFCV9QXJ3D79X,3.0,20.0,22.0,Y,N
640709,R1YGI7SDJBIITA,3.0,67.0,77.0,Y,N
513953,RARYFB85E8YSK,5.0,25.0,31.0,Y,N
73488,RKYLHZL7EPELX,4.0,19.0,25.0,Y,N
816859,R2HT2LBF48R9HC,5.0,26.0,38.0,Y,N
522139,R2VRYZV3N49TJ0,4.0,29.0,33.0,Y,N
38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N

In [67]:
# Unaid breakdown
print(unpaid_outcome)
print("\nUnpaid Review Data Sample:")
helpful_non_vine_df.sample(10)

There are a total of 14477 unpaid reviews.
There are a total of 8212 unpaid 5-star reviews.
56.72% of unpaid reviews were 5-star reviews.

Unpaid Review Data Sample:

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
588205,R1YL9384ZUHJHJ,2.0,44.0,45.0,N,Y
698697,R3OXVJJ9KH2OXU,5.0,22.0,22.0,N,N
752691,R1JTASY9LYNZ17,5.0,43.0,43.0,N,Y
841759,R2Z8JMF07B7S1E,5.0,34.0,34.0,N,N
865792,RY08GXPGT098R,4.0,26.0,26.0,N,Y
408364,R1ZW0XK3ID6XIC,3.0,138.0,150.0,N,N
902665,R2SZ9IOE9GZKO4,2.0,45.0,52.0,N,N
823976,R36DLHAL10J4YF,5.0,40.0,48.0,N,N
797735,R97AS48HQICI5,5.0,67.0,70.0,N,N
859578,R2XLHUFEZ57371,4.0,19.0,20.0,N,Y